body{
    background-color: rgb(62, 62, 130);
}

.text{
    display: flex;
    justify-content: center;
}

.container-login{
    background-color: rgb(23, 109, 109);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
    border-radius: 15px;
}

.container-fields{
    margin: 10px;
}

.label-login, input-login{
    display: flex;
}

.label-login{
    padding: 10px;
    font-size: 20px;
}

.input-login{
    padding: 10px;
    border: none;
    font-size: 15px;
    border-radius: 15px;
}

.input-login:focus-visible{
    outline: none;
}

.button-login{
    background-color: blue;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: antiquewhite;
    font-size: 15px;
}  

.button-login:hover{
    background-color: blueviolet;

}